@-ms-viewport {
    width: auto;
}

html {
   /* overflow-y: scroll;
    */
}

html,
body {
    height: 100% !important;
    overflow: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background: #ffc929;
    margin: 0;
    padding: 0;
  /*  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;*/
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rect_left {
    background: url("./res/side_rect_left.svg");
    position: absolute;
    width: 128px;
    height: 100vh;
    left: 0px;
    top: 0px;
}

.rect_right {
    background: url("./res/side_rect_right.svg");
    position: absolute;
    width: 128px;
    height: 100vh;
    /* left: 1312px; */
    right: 0px;
    top: 0px;
}

.logo {
    height: 300px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.event_title {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    top: -12px;
    color: #000000;
}

.center {
    text-align: center;
    position: relative;
}

.cen {
    text-align: left;
    position: relative;
    padding-left: 20vh;
    padding-right: 20vh;
}

h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    color: #000000;
    text-decoration: underline;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.back {
    position: relative;
    display: initial;
    padding-left: 170px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    
}

img {
    padding-top: 10px;

    left: -20px;
    position: relative;
}

h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

ul,
li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

b {
    font-style: oblique;
}

.rect_bottom {
    width: 1400px;
    left: 50px;
}


@font-face
{
    font-family: myTamilFont;
    src: url(Nirmala.ttf);
}

h2.tamil{

    font-family: myTamilFont;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    color: #000000;
    text-decoration: underline;
}

p.tamil{

        font-family: myTamilFont;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #000000;
    
}
ul.tamil{
    font-family: myTamilFont;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
li.tamil{
    font-family: myTamilFont;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
h3.tamil {
    font-family: myTamilFont;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}


@media screen and (max-width: 480px) and (max-width:800px) {
  li.tamil,p.tamil,ul.tamil, li, p{
        font-size: 15px;
    }
    h2.tamil,h2{
        font-size: 30px;
    }
    h3.tamil,h3{
        font-size: 24px;
    }

    .rect_left {
        background: url("./res/side_rect_left.svg");
        position: absolute;
        left: 0px;
        top: 0px;
        background-size: 20%;
        background-repeat: repeat-y;
     
    }
    
    .rect_right {
        background: url("./res/side_rect_right.svg");
        position: absolute;
        right:0px;
        top: 0px;
        background-size:20%;
        background-repeat: repeat-y;
        background-position: right;
        
    }
    .rect_bottom {
        left:5%;
    }
    .back {
        padding-left: 60px;
        padding-top: 10px;
        height: 50px;
        width:50px;
        opacity: 0;

    }
    .cen{
        text-align: justify;
        padding-left: 10%;
        padding-right: 10%;
    }
    .logo{
        width: 70%;
        top: 1%;
        padding-left: 10%;
    }
    .event_title{
        top:10;
        font-size: 45px;
    }
    
}